.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.storeLogo
{
  width: 15%;
  height: 65px;
  margin-left: 15%;
}

.storeTitle
{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   direction: rtl;
   margin-right: 15%;
}
 .storeTitle .storeName
 {
    background-color: white;
 }
 .ms-3
 {
  background-color: red;
 }