body {
  background-color: #eee;
  font-family: Cairo;
}

.img-container {
  overflow: hidden;
}

.img-container img {
  width: 450px;
  transition: transform 0.3s;
}

.img-container img:hover {
  transform: scale(1.5);
}

.hover-overlay:hover {
  opacity: 0.6;
}

.Home .img-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
  max-height: 206px;
  /* width: 290px; */
}

.Home .cover {
  width: 100%;
  height: auto;

  /* calc(100vh - 75px); */
  max-width: 100%;
  max-height: calc(100vh - 75px);
  display: block;
}

.Home .sideImg1 {
  width: 70%;
  height: auto;
  max-height: calc(100vh - 75px);
  max-width: 70%;
  margin-top: 50px;
  display: inline-block;
  padding-right: 10px;
  object-fit: cover;
}

.Home .sideImg2 {
  width: 30%;
  height: auto;
  max-height: calc(100vh - 75px);
  max-width: 30%;
  display: inline-block;
  margin-top: 50px;
  object-fit: cover;
}

.Home div .coverImgs {
  overflow: hidden;
  height: auto;
  max-height: calc(100vh - 75px);
  min-height: calc(100vh - 75px);
  display: block;
}

.Home .hr-inline {
  display: inline;
}

.separator {
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-align: center;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid rgb(133, 128, 128);
}

.separator:not(:empty)::before {
  margin-right: 0.25em;
}

.separator:not(:empty)::after {
  margin-left: 0.25em;
}

.text-reset {
  text-decoration: none;
}

.text-reset:hover {
  text-decoration: underline;
  font-weight: bold;
}

.col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 {
  margin: -10px;
}

#footHead {
  margin-top: 20px;
}

.footer .link-color:hover {
  color: white;
  font-weight: bold;
}

.footer .fab:hover {
  opacity: 0.8;
}

#profilePic {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #eee;
  display: inline-block;
}
