.login-container {
  display: block;
  
}

.login-container .login-form {
  margin-right: 20%;
  width: 40%;
  padding: 0;
}

.login-container .side-login {
  background-color: green;
  margin-left: 10%;
}

.remembering {
  display: inline-block;
  margin-right: 70%;
  width: fit-content;
}

.loginForm .fields .login-title {
  display: block;
  width: 90%;
  margin: auto;
}

.loginForm .fields .password {
  width: 90%;
  display: block;
  margin: auto;
  margin-top: 5%;
}

.login-form .fields {
  width: 100%;
  display: block;
  /* margin-bottom: 5%; */
}

.login-container .loginForm {
  display: block;
  margin-top: 10%;
  /* height: fit-content; */
  width: 25vw;
  background: white;
  margin: auto;
  /* background-color: red; */
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  border-radius: 10px;
  direction: rtl;
}

.login-container{
  /* background-color: blue; */
  display: block;
  width: 100%;
  direction: rtl;
  margin-top: 5%;
}


.loginForm .loggin{
  width: 100%;
  display: block;
}

.loginForm .loggin .loginTitle {
  display: block;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 2vw;
  /* background-color: red; */
  text-align: center;
}

.css-1a4cg4j-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: var(--may-green);
}

.login-container .loginForm .Lock {
  display: flex;
  justify-content: center;
}

.login-container .loginForm .Lock .lockImg {
  width: 15%;
  margin: auto;
  /* display: inline-block; */
  margin-top: 10%;
  background-color: var(--may-green);
  border-radius: 50%;
  left: 50%;
  right: 50%; 
  /* padding: 5px; */

}

.login-container .loginForm .Lock .lockImg img {
  display: block;
  margin-top: 5%;
  margin: auto;
  margin-left: 50%;
}

.loginForm {
  display: block;
}

.loginForm .login-Button {
  width: 100%;
  display: block;
  text-align: center;
  /* margin-bottom: 5%; */
  /* background-color: red; */
}

.loginForm .login-Button button {
  width: 90%;
  margin: auto;
  text-align: center;
  border-radius: 0;
  font-size: 3vh;
}

.loginForm .sign-with-others {
  /* margin: 8% 5%; */
   display: block;
   width: 100%;
   margin-bottom: 7%;
   margin-top: 10%;
   /* background-color: red; */
}

.loginForm .sign-with-others p {
  width: 90%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  /* margin: 10px 0 0; */
  margin: auto;
  margin-top: 5%;
  font-weight: bold;
}

.loginForm .sign-with-others p span {
  margin-top: 5%;
  background: #fff;
  padding: 0 5%;
  font-weight: bold;
  font-size: 2vw;
}

.social-container {
  display: block;
  width: 100%;
  /* background-color: red; */
  text-align: center;
  margin-bottom: 5%;
}

.social-container div {
  display: block;
  width: 90%;
  margin: auto;  
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.youtube {
  color: #eb3223;
  width: fit-content;
}

a.facebook {
  color: #4968ad;
  width: fit-content;

}

a.twitter {
  color: #49a1eb;
  width: fit-content;

}

a.instagram {
  color: black;
  width: fit-content;

}

/* .addition-links {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  height: 10%;
  margin-top: 10%;
} */
/* 
.addition-links .sign-up link {
  position: absolute;
  display: inline-block;
  left: 0;
  background-color: yellow;
  width: fit-content;
} */

.loginForm .forgetPassword .text-reset {
  margin: auto;
  display: block;
  /* background-color: yellow; */
  width: fit-content;
}

.loginForm  .forgetPassword {
  /* color: var(--may-green); */
  display: block;
  width: 100%;
  /* background-color: red; */
  margin-bottom: 5%;
}

.loginForm  .forgetPassword .text-reset {
  display: block;
  width: 90%;
  margin: auto;
}



.loginForm  .signUP  {
   display: block;
   margin: auto;
   width: 100%;
   margin-bottom: 15%;
   /* background-color: red; */
   margin-bottom: 10px;
}

.loginForm  .signUP div {
  display: block;
  width: 90%;
  margin: auto;
  height: fit-content;
  margin-bottom: 5%;
}

.loginForm  .signUP div .create-account{
  /* background-color: red; */
  text-decoration: none;
  color: var(--may-green);
}

.loginForm  .signUP div .create-account:hover{
    text-decoration: underline;
    font-weight: bold;
}

/* .loginForm  .signUP div .create-account {
  display: inline-block;
  color: var(--may-green);
  text-decoration: none;
} */

/* .loginForm .addition-links .signUP div .create-account:hover {
  text-decoration: underline;
  color: var(--dark-liver-horses);
  font-weight: bold;
} */
