.productDesc {
  /* margin-top: 5%;
  padding: 0;
  direction: rtl;*/
  background-color: red;
  /* width: 100%;
  height: 500px;  */
  /* position: relative; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  direction: rtl;
  /* margin: 5%; */
  /* padding: -20%; */
}

.productDesc .imgDiv {
  /* position: absolute;
  width: 40%; */
  background-color: white;
  height: 50%;
  border: 3px solid var(--dark-liver-horses);
  max-width: 500px;
  min-width: 400px;
  overflow: hidden;
  /* margin-top: 25px; */
  margin-bottom: 10%;
  margin-top: 2%;

}

.productDesc .descriptionDiv {
  /* position: absolute;
  width: 60%; */
  background-color: white;
  left: 0;
  max-width: 700px;
  min-width: 600px;
  overflow: hidden;
  margin-top: 25px;
  margin-right: 0;
  margin-bottom: 10%;
}

.productDesc .descriptionDiv .leftSide {
  /* background-color: red; */
  margin-right: 5%;
}
.productDesc .descriptionDiv .leftSide .productName {
  /* background-color: yellow; */
  font-weight: bold;
  margin-bottom: 2%;
}
.productDesc .descriptionDiv .leftSide .rating {
  /* background-color: blue; */
}
.imgDiv .big-img {
  margin-left: 10%;
  margin: auto;
}

.imgDiv .big-img .cover-img {
  max-width: 300;
  min-width: 200px;
  overflow: hidden;
  margin: 25px;
}
.imgDiv .big-img .cover-img .mainImg {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
}

.spanColors a {
  /* background-color: red; */
  margin: 0;
  padding: 0;
  margin-top: 2%;
  margin-right: 15%;
  width: 5%;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1.5px solid black;
  border-radius: 0;
}

.spanColors a:hover {
  transform: scale(1.2);
}

.spanColors {
  overflow: hidden;
}

.leftSide .price
{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5%;
}

.leftSide .rating
{
    display: flex;
    font-size: 20px;
    margin-bottom: 1%;

}