.addProductContainer
{
    background-color: white;
    margin-right: 15%;
    outline: 5px solid brown;
    padding: 2%;
    width: 40%;
    height: fit-content;
    display: flex;
    justify-content: center;
}

#product_price
{
    border: 2px solid black;
    width: 60%;
    margin: 1%;
    
}
/* rgb(184, 177, 177); */
#product_price::placeholder{
    font-size: 20px;
    color: black;

}

#product_discount
{
    border: 2px solid black;
    width: 60%;
    margin: 1%;
}

#product_discount::placeholder
{
    font-size: 20px;
    color: black;
}

#product_quantity
{
    border: 2px solid black;
    width: 60%;
    margin: 1%;
}

#product_discount::placeholder
{
    font-size: 20px;
    color: black;
}

.nextButton
{
    background-color: var(--dark-liver-horses);
    margin: 4% auto 0;
    width: 25%;
    border: 3px solid var(--dark-liver-horses);
    color: white;
    overflow: hidden;
}

 .nextButton:hover
{
    background-color: black;
    border: 3px solid black;    
}
  
.previousPayment
{
    background-color: var(--dark-liver-horses);
    width: 25%;
    margin-left: 20%;
    margin-top: 4%;
    border: 3px solid var(--dark-liver-horses);
    color: white;
    overflow: hidden;
}

.previousPayment:hover
{
    background-color: black;
    border: 3px solid black ;
}

.nextPayment
{
    background-color: var(--dark-liver-horses);
    width: 25%;
    margin-top: 4%;
    border: 3px solid var(--dark-liver-horses);
    color: white;
    overflow: hidden;
}

.nextPayment:hover
{
    background-color: black;
    border: 3px solid black ;
}
  
  