.cardContent{
    text-align: center;
    min-height: 100%;
    max-height: 100%;
    width: auto;
}

.cardContent .img-fluid{
    min-height: 200px;
    max-height: 200px;
}
.father .sidee-bar{
    width:20%;
    background-color: blue;
    justify-content: left;
    height: 60%;
    position: fixed;
}
.father  .content-bar{
    justify-content: right;

    width: calc( 80% - 100px);
}
.father{
    direction: ltr;
    display: flex;
}

.filterPart{
    direction: rtl;
}


.filter1{
    width: 100%;
    justify-content: right;
    direction: rtl;
}

.filter1 .childFilter{
    width: 30%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 10%;
    
}


.filter1 #label{
    direction: rtl;
    width: 25%;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
    margin-top: 5px;
}



.filter1 .childFilter2{
    width: 40%;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 10%;
}
