@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

:root {
  --tumbleweed: #cea07eff;
  --dark-liver-horses: #594236ff;
  --african-violet: #b47eb3ff;
  --morning-blue: #7aa095ff;
  --may-green: #618b4aff;
}
